<h1>Within 25 Miles of <%= %> are <%= %> Total Stores</h1>
    <% @locations.each do |location| %>
      <ul class="location">
        <li class="long_name"><%= location.long_name %></li>
        <li class="city"><%= location.city %></li>
        <li class="distance"><%= location.distance %></li>
        <li class="phone"><%= location.phone %></li>
        <li class="type"><%= location.type %></li>
      </ul>
    <% end %>

